#rightside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#familygroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#familyicon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #7209B7;
}