.contatinerInvitation {
    width: 100%;
    height: 100vh;
    background-color: rgba(114, 9, 183, 0.2 );
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.invitationBox {
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 590px;
    height: 415px;
    border-radius: 50px;
    box-shadow: 10px 10px 28px -7px rgba(114, 9, 183, 1);
}


.createFamInvitation {
    color: #cc9cec;
    margin-top: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 40px;
    margin-left: 40px;
}

.createFamInvitation2 {
    color: #cc9cec;
    display: flex;
    align-items: left;
    flex-direction: column;
    font-size: 20px;
    margin-left: 40px;
}

.emailInvitation {
    color: #d4abf0;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items:start;
    color: black;
    font-size: 20px;
    margin-top: 25px;
}

#emailInvitation {
    color: rgb(114, 9, 183, 1);
    background-color: #f8f8f8;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.sendInvitationButton {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    border: 2px solid #000000;
    font-size: 20px;
    color: #000000;
    background-color: #d4abf0;
    transition: #000000 0.3s ease;
    margin-top: 40px;
}

.sendInvitationButton:hover {
    background-color: #000000;
    color: rgb(251, 210, 244);
}

.emptyEmailButton {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    border: 3px solid #ffffff;
    font-size: 20px;
    color: #ffffff;
    background-color: #bdbdbd;
    transition: #000000 0.3s ease;
    margin-top: 40px;
}

.buttonBox{
    display: flex;
    justify-content: center;
}
 .invSent{
    color: #ed1f29;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }