/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #D2E7FB;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 90vh;
}

.signUpCard {
    background-color: #b5e2fa;
    width: 40vw;
    height: 80vh;
    border: 5px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signUpCard2 {
    background-color: #b5e2fa;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    border-radius: 50px;
}

.dogPhoto {
    background-color: white;
    width: 30vw;
    height: 30vh;
}

.alreadyAccount {
    background-color: white;
    width: 30vw;
    height: 30vh;
}

.signupTitle {
    color: #000000;
    font-size: 40px;
} */
